<section class="xs:hidden sm:hidden md:hidden">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-start-2 col-span-3 mt-10">
      <h1 class="ml-200 text-2xl font-semibold text-gray-600 mb-14 ">My courses:</h1>
    </div>
    <div class="max-w-full mt-100 col-start-2 col-span-11  overflow-y-scroll rounded-md shadow-md" style="max-height: 500px;" *ngIf="rowsLoaded">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-sky-100">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Description</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"> </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let row of rows">
            <td class="px-4 py-4 whitespace-nowrap">{{ row.id }}</td>
            <td class="px-4 py-4 whitespace-nowrap">{{ row.name }}</td>
            <td class="px-4 py-4 whitespace-nowrap">{{ row.description }}</td>
            <td class="pl-4 pr-4 py-4 whitespace-nowrap"><i class="fa-solid fa-eye" (click)="courseDetail(row.id)"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<!--Movile-->
<section class="lg:hidden xl:hidden 2xl:hidden">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-start-0 col-span-12 mt-10 ml-6">
      <h1 class="ml-200 text-md font-semibold text-gray-600 mb-8 ">My courses:</h1>
    </div>
    <div class="max-w-full mt-100 col-start-0 col-span-12  overflow-y-scroll rounded-md shadow-md" style="max-height: 500px;" *ngIf="rowsLoaded">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-sky-100">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"> </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let row of rows">
            <td class="px-4 py-4 whitespace-nowrap">{{ row.id }}</td>
            <td class="px-4 py-4 whitespace-nowrap">{{ row.name }}</td>
            <td class="pl-4 pr-4 py-4 whitespace-nowrap"><a href="teachers/mis-asignaturas/course-detail/{{row.id}}"><i class="fa-solid fa-eye"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>


