<div class="max-w-md mx-auto my-12 bg-sky-200 p-5 rounded-md shadow-md">
    <h1 class=" pt-5 text-2xl text-gray-600 font-semibold mb-4">{{competence}}</h1>
    <p class=" text-base text-gray-600 mb-2">{{description}}</p>
    <a target="_blank" class=" text-base text-blue-600 mb-2" href="{{esco_url}}">{{esco_url}}</a>
</div>
<div class="col-start-0 col-span-12 xs:ml-6 sm:ml-6 md:ml-6 mt-10">
    <button type="submit" class="bg-slate-500 text-white py-2 px-4 rounded-md hover:bg-slate-600 transition-colors duration-300 ease-in-out" (click)="goBack()">Go Back</button>
</div>