<section class="xs:hidden sm:hidden md:hidden">
    <div class="grid grid-cols-12 gap-4">
        <div class="col-start-2 col-span-10 mt-10">
            <h1 class="ml-200 text-2xl font-semibold text-gray-600 mb-20 ">Academic record students:</h1>
        </div>
        <div class="max-w-full mt-100 col-start-2 col-span-10 overflow-y-scroll rounded-md shadow-md" style="max-height: 500px;" >
            <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-sky-100" style="position: sticky; top: 0;">
                <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Full Name</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">DNI</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"> </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200" >
                <tr class="prueba text-gray-500" id="fila" *ngFor="let row of rows" >
                    <td class="px-4 py-4 whitespace-nowrap font-semibold">{{ row.id }}</td>
                    <td class="px-4 py-4 whitespace-nowrap font-semibold">{{ row.full_name }} </td>
                    <td class="px-4 py-4 whitespace-nowrap font-semibold">{{ row.dni }}</td>
                    <td class="pr-4 pl-4 py-4 whitespace-nowrap"><i class="fa-solid fa-eye" (click)="viewAcademicRecord(row.id)"></i></td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</section>

<!--Movile-->

<section class="lg:hidden xl:hidden 2xl:hidden">
    <div class="grid grid-cols-12 gap-4">
        <div class="col-start-0 col-span-12 ml-6 mt-10">
            <h1 class="ml-200 text-md font-semibold text-gray-600 mb-8 ">Academic record students:</h1>
        </div>
        <div class="max-w-full mt-100 col-start-0 col-span-12 overflow-y-scroll rounded-md shadow-md" style="max-height: 500px;" >
            <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-sky-100">
                <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Full Name</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"> </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200" style="font-size: 14px;">
                <tr class="prueba text-gray-500" id="fila" *ngFor="let row of rows" >
                    <td class="px-4 py-4 whitespace-nowrap font-semibold">{{ row.id }}</td>
                    <td class="px-4 py-4 whitespace-nowrap font-semibold">{{ row.full_name }} </td>
                    <td class="pr-4 pl-4 py-4 whitespace-nowrap"><i class="fa-solid fa-eye" (click)="viewAcademicRecord(row.id)"></i></td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</section>
